.container {

    height: 100vh;
}

.content {
    background-color: var(--background);
    text-align: center;
    padding: 2.5em 2em 2em;


    > img {
        width: 300px;
        border-radius: 20px;
        margin-bottom: 2em;
    }

    .contentData {
        h1 {
            margin-bottom: 4px;
        }

        > span {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 2px;

            span {
                font-weight: 600;
                color: var(--text)
            }
        }
        
        h3 {
            padding: 1.5em 0;
            font-weight: 400;
            text-align: justify;
        }

        > div {
            margin-bottom: 2em;
            .true {
                color: var(--green-500);
            }

            .false {
                color: var(--red-500);
            }

            .price {
                font-size: 2em;
            }
            
            
        }

    }

    @media only screen and (min-width: 64rem) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;

        > img {
            width: 400px;
        }

        .contentData {
            width: 550px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            > div {
                display: flex;
                flex-direction: column;

                h1 {
                    color: var(--title)
                }

                h3 {
                    margin-top: 0.5rem;
                    padding: 0;
                }
 
            }

            .price {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                color: var(--title);

                button {
                    width: 170px;
                }
            }


        }
    }

}


.comments {
    background-color: var(--text);

    img {
        width: 100vw;
    }
}